[submodule "services/adminpanel"]
	path = services/adminpanel
	url = https://github.com/phobiavr/phober-adminpanel.git
[submodule "services/auth-server"]
	path = services/auth-server
	url = https://github.com/phobiavr/phober-auth-server.git
[submodule "services/device-service"]
	path = services/device-service
	url = https://github.com/phobiavr/phober-device-service.git
[submodule "services/config-server"]
	path = services/config-server
	url = https://github.com/phobiavr/phober-config-server.git
[submodule "services/notification-server"]
	path = services/notification-server
	url = https://github.com/phobiavr/phober-notification-server.git
[submodule "services/crm-service"]
	path = services/crm-service
	url = https://github.com/phobiavr/phober-crm-service.git
[submodule "services/staff-service"]
	path = services/staff-service
	url = https://github.com/phobiavr/phober-staff-service.git
[submodule "shared/laravel-common"]
	path = shared/laravel-common
	url = https://github.com/phobiavr/phober-laravel-common.git
[submodule "buckets"]
	path = buckets
	url = https://github.com/phobiavr/phober-buckets.git
; [submodule "media"]
; 	path = media
; 	url = https://github.com/phobiavr/phober-media.git
