[submodule "adminpanel"]
	path = adminpanel
	url = https://github.com/phobiavr/phober-adminpanel.git
[submodule "auth-server"]
	path = auth-server
	url = https://github.com/phobiavr/phober-auth-server.git
[submodule "device-service"]
	path = device-service
	url = https://github.com/phobiavr/phober-device-service.git
[submodule "config-server"]
	path = config-server
	url = https://github.com/phobiavr/phober-config-server.git
[submodule "notification-server"]
	path = notification-server
	url = https://github.com/phobiavr/phober-notification-server.git
[submodule "crm-service"]
	path = crm-service
	url = https://github.com/phobiavr/phober-crm-service.git
[submodule "staff-service"]
	path = staff-service
	url = https://github.com/phobiavr/phober-staff-service.git
[submodule "shared/laravel-common"]
	path = shared/laravel-common
	url = https://github.com/phobiavr/phober-laravel-common.git
[submodule "adminpanel-2"]
	path = adminpanel-2
	url = https://github.com/phobiavr/phober-adminpanel-2.git
